body{
    background: linear-gradient(blue, yellow);
    overflow: hidden;
}

button{
    width: fit-content;
    padding: 8px;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: whitesmoke;
}

button:hover{
    background: rgba(0, 0, 0, 0.5);
}

.container{
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}